# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore Windows "Zone.Identifier" metadata files
*.Zone.Identifier

# Node.js / npm related
node_modules/
npm-debug.log
yarn-error.log

# System Trash (if applicable)
.trash/

# Cache folders (general)
.cache/